# systemd service for managing all proxy autoconfiguration.

[Unit]
Description=Proxy Configuration Autodiscovery

[Service]
Type=oneshot
ExecStart=/usr/bin/sequence -l /etc/device/system/proxy/ -s daemon.info -b /usr/libexec device/autodiscovery/proxy.d start
ExecReload=/usr/bin/sequence -l /etc/device/system/proxy/ -s daemon.info -b /usr/libexec device/autodiscovery/proxy.d reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

